@model TaseronBul.Models.Uye
@{
    ViewBag.Title = "Giriş";
}

<div class="row">

    
    <br />

    <div class="col-md-4"></div>

    <div class="col-md-4" style="border-style: groove;">

        <h3 style="color: #5B69BD">Bireysel </h3>
        <br />
        <form class="form-group" method="post" action="@Url.Action("Login2", "Account")">
             @Html.TextBoxFor(model => model.Mail, new { @class = "form-control",type="email", @id = "uye_mail", @placeholder = "Mail Adresi" ,@name ="mail2"})
            <br />
            @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", @type = "password", @id = "uye_sifre", @placeholder = "Şifre" ,@name ="sifre2"})
            <br />
             @foreach (ModelState modelState in ViewData.ModelState.Values)
            {
                foreach (ModelError error in modelState.Errors)
                {
                @error.ErrorMessage.ToString()<br />
                }
            }
            <button type="submit" class="btn btn-success">Giriş</button>

        </form>
    </div>

</div>
