@model TaseronBul.Models.Firma
@{
    ViewBag.Title = "Giriş";
}

<div class="row">

    
    <br />
    <div class="col-md-4"></div>
    <div class="col-md-4" style="border-style: groove;";>
        <h3 style="color: #5B69BD">Kurumsal </h3>
        <br />
        <form class="form-group" method="post" action="@Url.Action("Login1", "Account")">
            @Html.TextBoxFor(model => model.Mail, new { @class = "form-control",@type="email", @id = "firma_mail", @placeholder = "Mail Adresi" ,@name ="mail1"})
            <br />

            @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", @type = "password", @id = "firma_sifre", @placeholder = "Şifre" ,@name ="sifre1"})
            <br />
            @foreach (ModelState modelState in ViewData.ModelState.Values)
            {
                foreach (ModelError error in modelState.Errors)
                {
                @error.ErrorMessage.ToString()<br />
                }
            }
            <button type="submit" class="btn btn-success">Giriş</button>

        </form>

    </div>

   

</div>
