@{
    ViewBag.Title = "login";
}

<h2>login</h2>


    
    <br />
        <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <div class="col-md-3" style="border-style: groove; height: 150px; margin-left: 10%;">

                <div class="jumbotron">
                    <h2>Kurumsal Giriş</h2>
                    <p><a class="btn btn-warning btn xs" href='@Url.Action("Login1", "Account")' role="button">Kurumsal Giriş Yap</a></p>
                </div>
            </div>

            <div class="col-md-3" style="border-style: groove; height: 150px; margin-left: 50px;">

                <div class="jumbotron">
                    <h2>Bireysel Giriş</h2>
                    <p><a class="btn btn-primary btn-xs" href='@Url.Action("Login2", "Account")' role="button">Bireysel Giriş yap</a></p>
                </div>
            </div>
        
    </div>

    </div>

   

