@if (Request.IsAuthenticated) {
    <script>
            
        document.getElementById('giris').style.display = 'none';

    </script>
    
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Kontrol", "Profil", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
      
        <li  >@Html.ActionLink("Log in", "Login1", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    <script>

        $("#giris").show();
    </script>
}
